.banner {
    width: 100vw;
    height: 22px;
    line-height: 22px;
    margin: -5px 0 0 -8px;
    padding: 5px 10px;
    background: #C1DEFF;
    color: #293136;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
}

.banner span {
    background-image: url("/modules/site-builder/images/info.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    line-height: 14px;
    display: inline-block;
    margin-right: 10px;
}